<!DOCTYPE html>
<html lang="en" style="min-height: 96%;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Scrim Tracker for Planetside 2">
    <meta name="author" content="DylanNZ">
    <title>Scrim Tracker Ruleset</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../stylesheets/style.css" rel="stylesheet">
</head>
<body>
<div class="page-header">
    <h1 style="text-align: center">PS2 Scrim Tracker Ruleset</h1>
</div>

<div id="adminPanel">
    <div class="col-md-12" style="text-align: center">
        <p class="inline">Password: </p> <input type="text" size="8" id="password">
    </div>
    <!-- Weapon Rules -->
    <div class="col-md-6">
        <h3>Weapon Category Rules:</h3>
        <hr class="feature-divider">
        <div class="table-responsive tableDiv">
            <table class="table">
                <thead>
                <th>Category</th>
                <th>Value</th>
                <th>Update to</th>
                </thead>
                <tbody>
                {{#each catMap}}
                    {{#if category}}
                        <tr>
                            <td>{{this.category}}</td>
                            <td>{{this.points}}</td>
                            <td><input type="text" size="8" id="{{this.id}}"></td>
                        </tr>
                    {{/if}}
                {{/each}}
                </tbody>
            </table>
        </div>
        <div style="text-align:right">
            <br>
            <input id="adjust" type="submit" value="Save weapon changes (ensure password is entered)" onclick="return valueChange(this)">
            <br>
        </div>
        <div>
            <button class="btn btn-default dropdown-toggle" type="button" id="weaponRuleMenu" data-toggle="dropdown">Change to a default weapon ruleset <span class="caret"></span></button>
            <ul class="dropdown-menu right" role="menu" aria-labelledby="weaponRuleMenu" id="weaponRule">
                <li role="presentation" value="weaponThunderdome"><a role="menuitem" tabindex="1" href="#" onclick="submitForm(this)">Thunderdome</a></li>
                <li role="presentation" value="weaponEmerald" onclick="submitForm(this)"><a role="menuitem" tabindex="2" href="#">Emerald</a></li>
                <li role="presentation" value="weaponOvO" onclick="submitForm(this)"><a role="menuitem" tabindex="3" href="#">Briggs OvO</a></li>
            </ul>
        </div>
        <div class="inline right">
            <p>Current Ruleset: {{catMapName}}</p>
        </div>
    </div>
    <!-- Class/Interaction Rules -->
    <div class="col-md-6">
        <h3>Class & Interaction Rules:</h3>
        <hr class="feature-divider">
        <div class="table-responsive tableDiv">
            <table class="table">
                <thead>
                <th>Category</th>
                <th>Value</th>
                <th>Update to</th>
                </thead>
                <tbody>
                {{#each pointMap}}
                    {{#if action}}
                        <tr>
                            <td>{{this.action}}</td>
                            <td>{{this.points}}</td>
                            <td><input type="text" size="8" id="{{this.id}}"></td>
                        </tr>
                    {{/if}}
                {{/each}}
                </tbody>
            </table>
        </div>
        <div style="text-align:right">
            <br>
            <input id="adjust" type="submit" value="Save class changes (ensure password is entered)" onclick="return valueChange(this)">
            <br>
        </div>
        <div>
            <button class="btn btn-default dropdown-toggle" type="button" id="classRuleMenu" data-toggle="dropdown">Change to a default class ruleset <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="classRuleMenu" id="classRule">
                <li role="presentation" value="classThunderdome" onclick="submitForm(this)"><a role="menuitem" tabindex="1" href="#">Thunderdome</a></li>
                <li role="presentation" value="classEmerald" onclick="submitForm(this)"><a role="menuitem" tabindex="2" href="#">Emerald</a></li>
                <li role="presentation" value="classOvO" onclick="submitForm(this)"><a role="menuitem" tabindex="3"  href="#">Briggs OvO</a></li>
            </ul>
        </div>
        <div class="inline right">
            <p>Current Ruleset: {{pointMapName}}</p>
        </div>
    </div>
</div>

<footer class="footer">
    <p style="text-align: center">You can only edit the rule set when a match is NOT running</p>
    <hr class="feature-divider">
    <p>Created by Dylan C (DylanNZ), Jared H (MonoNZ) and Richard H (Dalordish) of
        <a href="https://fifthcolumngaming.com">[FCLM] Fifth Column</a> ·
        For any changes to the script send a message to DylanNZ on <a href="https://www.reddit.com/message/compose?to=Dylan_NZL">Reddit</a> ·
        Credit to x who developed the original concept
    </p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/adminControls.js"></script>
</body>
</html>